.page-basic {
  width: 100%;
  min-height: calc(100vh - 108px);
  margin-top: 110px;
  min-width: 1200px;
}
.page-basic .fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.page-basic .basic-main {
  margin: 16px;
}
