.ant-tabs-tab-prev,
.ant-tabs-tab-next {
  z-index: auto;
}
.ant-tabs-ink-bar {
  z-index: auto;
}
.fileds-form {
  margin: 0px 20px;
}
.fileds-form .fileds .filed {
  margin: 10px 0px;
}
.fileds-form .fileds .filed .filed-lable {
  display: inline-block;
  width: 150px;
  padding: 0px 30px;
  text-align: left;
}
